body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #0d1b2a, #1b263b);
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
}
input,
button {
  margin: 10px;
}
canvas {
  display: none;
}
#previewArea img {
  max-width: 150px;
  margin: 5px;
  border: 1px solid #ccc;
  background: white;
}
button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}
